/* font-family: 'Lato', sans-serif; --- for paragraph 
font-family: 'PT Serif', serif; ----- for h tag
font-family: 'Qwitcher Grypen', cursive; --- for footer*/

body {
  margin: 0;
  background-color: #e9d3d371;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/********** header tag ************/
h1,
h2,
h3,
h4 {
  font-family: "PT Serif", serif;
}
h2 {
  font-size: 45px;
}
h3 {
    font-size: 35px;
}
p,
a {
  font-family: "Lato", sans-serif;
}
p {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}

.container {
  width: 80%;
  margin: 70px auto 120px;
}
.disfex {
  display: flex;
}
/********** Link button ************/
a {
  padding: 13px 28px;
  background-color: #ff5959;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
}
/********** Stay Focused on Mission 2022 ************/
.area h1 {
  font-size: 60px;
  width: 80%;
  border-left: 5px solid #ff5959;
  padding-left: 20px;
}
.area p {
  margin-bottom: 30px;
}
.starter-1 div {
  margin-top: 100px;
  width: 120%;
}
span {
  color: #ffad5a;
}

.half-width {
  width: 40%;
  margin: 0 auto;
}
.half-width img {
  margin: 50px 0 0 30px;
  width: 95%;
}
blockquote {
  font-size: 20px;
}
/********** Area 1 ************/
.area1 h2 {
  text-align: center;
}
.area1 h4 {
    font-size: 25px;
}
.area1 img {
    width: 40%;
}
.tr {
    border-radius: 20px;
    padding: 15px;
}
#tr1 {
    background-color: rgba(0, 255, 255, 0.082);

}
#tr2 {
    background-color: rgba(212, 0, 255, 0.082);
    margin-left: 15px;
}
#tr3 {
    background-color: rgba(0, 255, 0, 0.082);
    margin-left: 15px;
}
/********** Area 2 ************/
.coder {
    width: 32%;
}
.coder img {
    width: 100%;
}
.coder1 {
    width: 68%;
    margin-left: 70px;
}
.coder1 p{
    margin-bottom: 30px;
}
#area2 {
    margin-left: 0;
    width: 60%;
    margin-right: 75px;
}

/**********Footer************/
footer {
background-color: rgb(6, 30, 39);
height: 175px;
text-align: center;
}
footer h3 {
    font-family: 'Lobster', cursive;
    color: rgba(255, 255, 255, 0.863);
    padding-top: 45px;
    margin-bottom: 20px;
}
footer span {
    color: #f10000da;
}
footer p {
    color: rgba(255, 255, 255, 0.774);
    font-size: 13px;
}